<div class="row">
    <div class="col-lg-7 mx-auto ">
        <div class="jumbotron">
            <h1 class="display-3">Smart Mirror</h1>
            <p class="lead">The password has been changed successfully</p>
            <hr class="my-4">
            <p>You'll be redirectioned to the login page</p>
            <p class="lead">
            
              <a class="btn btn-primary btn-lg" routerLink="/signin" role="button">signin</a>
              
            
            </p>
          </div>
</div>
