<div class="row">
    <div class="col-lg-7 mx-auto ">
        <div class="jumbotron">
            <h1 class="display-3">Smart Mirror</h1>
            <p class="lead">The button {{button}} has been configured correctly</p>
            <hr class="my-4">
            <p>You'll be redirected to the home page</p>
            <p class="lead">
            
              <a class="btn btn-primary btn-lg" routerLink="/private" role="button">Home</a>
              
            
            </p>
          </div>
</div>
