<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Add Raspberry
            </div>
            <div class="card-body">
                <form (submit)="addRaspi()">
                    
                    <div class="form-group">
                        <input type="text" [(ngModel)]="raspi.serial_number" name="reference" class="form-control" placeholder="Enter the reference of you Raspi" required>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="raspi.pin" name="pin" class="form-control" placeholder="Enter a pin for your Raspi" required>
                    </div>
                    <button class="btn btn-success btn-block">
                        Add Raspi
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
