<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Change password
            </div>
            <div class="card-body">
                <form (submit)="changePass()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="pass.oldpass" name="password" class="form-control" placeholder="Old Password" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="pass.newpass" name="newpassword" class="form-control" placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="pass.newpasscop" name="newpassword" class="form-control" placeholder="Write again new password" required>
                    </div>
                    <button class="btn btn-success btn-block">
                       Change password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
