<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Sign In
            </div>
            <div class="card-body">
                <form (submit)="submitButton()">
                    <div class="form-group">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Nametag</label>
                        <input type="text" [(ngModel)]="button.nametag"name="nametag" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Purpose</label>
                        <input type="password" [(ngModel)]="button.purpose" name="purpose" class="form-control" placeholder="Password" required>
                    </div>
                    <fieldset class="form-group">
                        <legend class="mt-4">Frequency</legend>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                           Dayly
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                           Weekly
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                           Monthly
                          </label>
                        </div>
                      </fieldset>
                    <button class="btn btn-success btn-block">
                        Sign In
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
