<div class="row">
    <div class="col-lg-7 mx-auto ">
        <div class="jumbotron">
            <h1 class="display-3">Smart Mirror</h1>
            <p class="lead">Raspberry configuration</p>
            <hr class="my-4">
            <p>Please select a Raspi and a button to configure </p>
            <div class="form-group"*ngFor = "let raspi of raspis;let i = index "[atr.data-index]="i">
              
              <label for="exampleSelect{{i}}" class="form-label mt-4"></label>
              <select class="form-select"  id="exampleSelect1">
                <option value="{{raspi.serial_number}}"(change)=selectChangeHandler($event)>{{raspi.serial_number}}</option>
               
              </select>
            </div>
            <p class="lead">
            
              <a class="btn btn-warning" (click)= "submitRed()" role="button">Edit Red Button</a>
              <a class="btn btn-success" (click)= "submitGreen()" role="button">Edit Green Button</a>
              <a class="btn btn-info" (click)="submitBlue()" role="button">Edit Blue Button</a>
              
            
            </p>
          </div>
</div>

