<div class="row">
    <div class="col-lg-7 mx-auto ">
        <div class="jumbotron">
            <h1 class="display-3">Smart Mirror</h1>
            <p class="lead">Welcome to your Smart Mirror app</p>
            <hr class="my-4">
            <p>Please Sign in and enjoy </p>
            <p class="lead">
            
              <a class="btn btn-warning" (onclick)= "submitRed()" role="button">Edit Red Button</a>
              <a class="btn btn-success" (onclick)= "submitGreen()" role="button">Edit Green Button</a>
              <a class="btn btn-info" (onclick)="submitBlue()" role="button">Edit Blue Button</a>
              
            
            </p>
          </div>
</div>

