<div class="row">
    <div class="col-lg-7 mx-auto ">
        <div class="jumbotron">
            <h1 class="display-3">Smart Mirror</h1>
            <p class="lead">Welcome to your Smart Mirror app</p>
            <hr class="my-4">
            <p>Please Sign in and enjoy </p>
            <p class="lead">
            
              <a class="btn btn-primary btn-lg" routerLink="/signin" role="button">Log in</a>
              <a class="btn btn-secondary btn-lg" routerLink="/signup" role="button">Sign Up</a>
            
            </p>
          </div>
</div>
